@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bodyBlack: #121212;
  --fontWhite: #f5f5f5;
  --fontRed: rgb(211, 19, 67);
  --font1: "Montserrat", sans-serif;
  --fontLogo: "Lora", serif;
}
body {
  color: var(--fontWhite);
  overflow: hidden;
  font-family: var(--font1);
  font-weight: 100;
}
a {
  text-decoration: none;
  color: var(--fontWhite);
}
.mainCont {
  height: 100vh;
}
.navCont {
  background: var(--bodyBlack);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
}
.navItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logoText {
  /* font-family: var(--fontLogo); */
  font-size: 1rem;
  font-weight: 100;
  /* font-style: italic; */
}
.logoTextHigh {
  background: rgb(196, 8, 40);
  border: 1px solid rgba(99, 99, 99, 0.164);
  border-radius: 0 20px 0 20px;
}
.navDocs {
  margin-right: 1rem;
  font-size: 0.8rem;
  border-bottom: 1px solid var(--fontWhite);
}
.navVersion {
  font-size: 0.8rem;
  font-family: var(--font1);
  font-weight: 100;
}

.bodyContainer {
  height: 100vh;
  background: var(--bodyBlack);
  background-image: linear-gradient(
      rgba(77, 4, 10, 0.356),
      rgba(12, 12, 15, 0.5)
    ),
    url("./Assests/Bullseye-Gradient.svg");

  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bodyContent {
  padding: 1.2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.introText {
  font-size: 1.1em;
  font-family: var(--font1);
  font-weight: 100;
}
.textHighlight {
  color: var(--fontRed);
}

.btn {
  /* background: var(--fontRed); */
  background: transparent;
  width: 8rem;
  height: 2.5rem;
  /* border: none; */
  border: 1px solid white;
  padding: 0.4rem;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--fontWhite);
  cursor: pointer;
  margin-top: 2rem;
}
.btn:hover {
  transition: 0.4s;
  background: rgb(177, 15, 42);
}
.arrowIcon {
  margin-left: 0.4rem;
}

@media only screen and (min-width: 668px) {
  .introText {
    font-size: 2rem;
  }
  .logoText {
    font-size: 1.3rem;
  }
  .navDocs {
    font-size: 1.1rem;
  }
  .navVersion {
    font-size: 1rem;
  }
  .btn {
    width: 9.4rem;
    height: 2.8rem;
    font-size: 1rem;
  }
}
