<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Metaphor UI | Avatars</title>
    <link rel="stylesheet" href="./docs.css" />
    <link rel="stylesheet" href="./MetaphorUI.css" />
  </head>
  <body>
    <!-- TOP NAV BAR -->

    <nav class="navCont">
      <div class="logCont">
        <a href="../index.html" class="logoLink"
          ><h1 class="logoText">
            Meta<span class="logoTextHigh">phor</span>
          </h1></a
        >
      </div>
      <div class="navItems">
        <a href="./docs.html" class="navDocs">Docs</a>
        <h3 class="navVersion">Ver. 0.0.1</h3>
      </div>
      <div class="burgerIcon" onclick="toggleSidebar()">
        <ion-icon name="menu-outline"></ion-icon>
      </div>
    </nav>

    <!-- MAIN CONTAINER -->

    <div class="mainCont">
      <!-- SIDEBAR CONTAINER -->

      <div class="sidebarCont hideSidebar">
        <div class="sidebarList">
          <a class="sidebarListItem" href="docs.html">Getting Started</a>
          <hr class="hr-dark mt8" />
          <a class="sidebarListItem" href="./typography.html">Typography</a>
          <a class="sidebarListItem" href="./buttons.html">Buttons</a>
          <a class="sidebarListItem" href="./cards.html">Cards</a>
          <a class="sidebarListItem" href="./images.html">Images</a>
          <a class="sidebarListItem" href="./inputs.html">Inputs</a>
          <a class="sidebarListItem" href="./lists.html">Lists</a>
          <a class="sidebarListItem" href="./navigation.html">Navigation</a>
          <a class="sidebarListItem selected" href="./avatars.html">Avatars</a>
          <a class="sidebarListItem" href="./alerts.html">Alerts</a>
          <a class="sidebarListItem" href="./miscellaneous.html"
            >Miscellaneous</a
          >
        </div>
        <div class="signature-cont">
          <hr class="hr-dark mt8" />
          <h4 class="signature-text">
            Made with 🤎 by
            <a class="signature-link" href="https://atishayjain.netlify.app/"
              >Atishay Jain</a
            >
          </h4>
        </div>
      </div>

      <!-- MAIN CONTENT CONTAINER -->

      <div class="contentCont">
        <h1 class="heading-l">Avatars</h1>
        <p class="para-m mt4">Different types of Avatars</p>
        <hr class="hr-light mt8" />

        <h4 class="heading-s mt10">Examples:</h4>

        <!-- ** Avatars  ** -->

        <div class="exampleCont">
          <h3 class="exampleText">Avatars (xs, s, m, l, xl)</h3>

          <div class="flexCont">
            <div class="avatar-cont avatar-xs">
              <img
                class="avatar-img"
                src="../Assests/Profile Images/woman profile 2.jpg"
              />
            </div>
            <div class="avatar-cont avatar-s">
              <img
                class="avatar-img"
                src="../Assests/Profile Images/woman profile 2.jpg"
              />
            </div>
            <div class="avatar-cont avatar-m">
              <img
                class="avatar-img"
                src="../Assests/Profile Images/woman profile 2.jpg"
              />
            </div>
            <div class="avatar-cont avatar-l">
              <img
                class="avatar-img"
                src="../Assests/Profile Images/woman profile 2.jpg"
              />
            </div>
            <div class="avatar-cont avatar-xl">
              <img
                class="avatar-img"
                src="../Assests/Profile Images/woman profile 2.jpg"
              />
            </div>
          </div>

          <h3 class="showCodeToggle" onclick="showCodeToggle()"></h3>

          <div class="code hideCode">
            <iframe
              src="https://carbon.now.sh/embed/HbmSKcEHWdg38OuEEzQP"
              style="
                width: 100%;
                height: 739px;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
        </div>

        <!-- ** Avatars with Badge ** -->

        <div class="exampleCont">
          <h3 class="exampleText">Avatars with Badge</h3>

          <div class="flexCont">
            <div class="avatar-cont avatar-xs">
              <img
                class="avatar-img"
                src="../Assests/Profile Images/woman profile 2.jpg"
              />
              <ion-icon
                name="ellipse-sharp"
                class="avatar-badge badge-online"
              ></ion-icon>
            </div>

            <div class="avatar-cont avatar-s">
              <img
                class="avatar-img"
                src="../Assests/Profile Images/woman profile 2.jpg"
              />
              <ion-icon
                name="ellipse-sharp"
                class="avatar-badge badge-offline"
              ></ion-icon>
            </div>

            <div class="avatar-cont avatar-m">
              <img
                class="avatar-img"
                src="../Assests/Profile Images/woman profile 2.jpg"
              />
              <ion-icon
                name="remove-circle-sharp"
                class="avatar-badge badge-dnd"
              ></ion-icon>
            </div>

            <div class="avatar-cont avatar-l">
              <img
                class="avatar-img"
                src="../Assests/Profile Images/woman profile 2.jpg"
              />
              <ion-icon
                name="checkmark-done-circle-sharp"
                class="avatar-badge badge-success"
              ></ion-icon>
            </div>
          </div>

          <h3 class="showCodeToggle" onclick="showCodeToggle()"></h3>

          <div class="code hideCode">
            <iframe
              src="https://carbon.now.sh/embed/ui5yUnKU6WIvtDX7Tn9e"
              style="
                width: 100%;
                height: 948px;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <script src="./script.js"></script>
  </body>
</html>
