@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

:root {
  --bg-black: rgb(27, 27, 27);
  --bodyBlack: #121212;
  --fontWhite: #f5f5f5;
  --bodyWhite: #f5f5f5;
  --fontRed: rgb(211, 19, 67);
  --fontGray: #afafaa;
  --mainRed: #cb4545;
  --font1: "Montserrat", sans-serif;
  --font2: "Open Sans", sans-serif;
  --fontLogo: "Lora", serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* color: var(--fontWhite); */
  /* overflow: hidden; */
  font-family: var(--font1);
  font-weight: 100;
}
a {
  text-decoration: none;
  color: var(--fontWhite);
}

.navCont {
  background: var(--bodyBlack);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  color: var(--fontWhite);
}

.logoText {
  font-size: 1.1rem;
  font-weight: 100;
}
.logoTextHigh {
  background: rgb(196, 8, 40);
  border: 1px solid rgba(99, 99, 99, 0.164);
  border-radius: 0 20px 0 20px;
}
.navDocs {
  margin-right: 1rem;
  font-size: 0.9rem;
  border-bottom: 1px solid var(--fontWhite);
}
.navVersion {
  font-size: 0.9rem;
  font-family: var(--font1);
  font-weight: 100;
}
.navItems {
  display: none;
}
.burgerIcon {
  font-size: 1.7rem;
  cursor: pointer;
}
/* ****************** MAIN CONTAINER ************** */

.mainCont {
  max-width: 100vw;
  display: flex;
  justify-content: space-evenly;
  /* border: 2px solid red; */
  position: relative;
}

/* ************ SIDEBAR CONTAINER *********** */

.sidebarCont {
  width: 60%;
  /* position: sticky; */
  position: absolute;
  left: 0;
  top: 0;
  background: var(--bg-black);
  /* flex: 40%; */
  height: 100vh;
  z-index: 4;
  padding: 20px;
}
.sidebarListItem {
  display: block;
  font-size: 0.9rem;
  padding: 4px 8px 4px 8px;
  /* background: purple; */
  margin-top: 1rem;
}
.sidebarListItem:hover {
  border-radius: 20px;
  background: var(--mainRed);
  transition: 0.3s;
}
.signature-cont {
  position: absolute;
  bottom: 5.5rem;
}
.signature-text {
  font-size: 0.7rem;
  color: rgb(172, 172, 172);
  font-family: var(--font1);
  font-weight: 100;
  margin-top: 1rem;
}
.signature-link {
  font-size: 0.7rem;
  color: #dddddd;
}
.selected {
  background: #383535;
  border-radius: 20px;
}

.hideSidebar {
  display: none;
}

/* ***************** CONTENT CONTAINER ************** */

.contentCont {
  padding: 1.2rem;
  background: var(--bodyWhite);
  min-height: 100vh;
  width: 100vw;
}

.overlay {
  /* background: rgba(54, 54, 54, 0.87); */
  filter: brightness(60%);
}
.hideOverflow {
  overflow: hidden;
}
.exampleCont {
  border: 1px solid rgba(220, 221, 220, 0.705);
  margin-top: 3rem;
  padding: 1.4rem;
  /* text-align: center; */
  border-radius: 20px;
  -webkit-box-shadow: 2px 0px 6px 0px rgba(228, 228, 228, 0.589);
  -moz-box-shadow: 2px 0px 6px 0px rgba(228, 228, 228, 0.589);
  box-shadow: 2px 0px 6px 0px rgba(228, 228, 228, 0.589);
}
.exampleText {
  font-size: 0.9rem;
  font-family: var(--font2);
  font-weight: 500;
  color: var(--fontGray);
}
.github-icon {
  font-size: 1.2rem;
  margin-right: 0.3rem;
}
.docs-link {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.2rem;
  background: #4d1d29;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 0.3rem;
  margin-top: 0.3rem;
}
.flexCont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
}
.flexCont > div {
  margin: 0.8rem;
}
.showCodeToggle {
  cursor: pointer;
  font-size: 0.8rem;
  font-family: var(--font2);
  font-weight: 600;
  margin-top: 2.2rem;
}
.code {
  width: 100%;
  /* margin: auto; */
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  padding: 10px;
  background: #151515;
  border-radius: 20px;
  -webkit-box-shadow: 3px 3px 11px 0px rgba(50, 50, 50, 0.78);
  -moz-box-shadow: 3px 3px 11px 0px rgba(50, 50, 50, 0.78);
  box-shadow: 3px 3px 11px 0px rgba(50, 50, 50, 0.78);

  /* z-index: 1; */
}
.codeFrame {
  /* display: block; */
  /* position: relative; */
  background: #000;
  width: 100%;
  /* height: 250px; */
  border: none;
  /* z-index: 0; */
}

.hideCode {
  display: none;
}
.class-preview {
  min-width: 2.5rem;
  min-height: 1.5rem;
  padding: 0.3rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  border-radius: 2rem;
  font-size: 0.8rem;
  color: var(--fontWhite);
  box-shadow: 6px 9px 26px -11px rgba(0, 0, 0, 0.375);
  -webkit-box-shadow: 6px 9px 26px -11px rgba(0, 0, 0, 0.375);
  -moz-box-shadow: 6px 9px 26px -11px rgba(0, 0, 0, 0.375);
}

@media only screen and (min-width: 668px) {
  .navItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .burgerIcon {
    display: none;
  }
  .hideSidebar {
    display: block;
  }
  .sidebarCont {
    position: sticky;
    left: 0;
    top: 0;
    width: 20%;
  }

  .contentCont {
    width: 80%;
    padding-left: 2.5rem;
  }
  .signature-cont {
    bottom: 1.4rem;
  }
  .exampleCont {
    width: 80%;
    margin-top: 3rem;
    padding: 2rem;
  }
  .code {
    width: 80%;
  }
}
