<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Metaphor UI | Inputs</title>
    <link rel="stylesheet" href="./docs.css" />
    <link rel="stylesheet" href="./MetaphorUI.css" />
  </head>
  <body>
    <!-- TOP NAV BAR -->

    <nav class="navCont">
      <div class="logCont">
        <a href="../index.html" class="logoLink"
          ><h1 class="logoText">
            Meta<span class="logoTextHigh">phor</span>
          </h1></a
        >
      </div>
      <div class="navItems">
        <a href="./docs.html" class="navDocs">Docs</a>
        <h3 class="navVersion">Ver. 0.0.1</h3>
      </div>
      <div class="burgerIcon" onclick="toggleSidebar()">
        <ion-icon name="menu-outline"></ion-icon>
      </div>
    </nav>

    <!-- MAIN CONTAINER -->

    <div class="mainCont">
      <!-- SIDEBAR CONTAINER -->

      <div class="sidebarCont hideSidebar">
        <div class="sidebarList">
          <a class="sidebarListItem" href="docs.html">Getting Started</a>
          <hr class="hr-dark mt8" />
          <a class="sidebarListItem" href="./Typography.html">Typography</a>
          <a class="sidebarListItem" href="./Buttons.html">Buttons</a>
          <a class="sidebarListItem" href="./Cards.html">Cards</a>
          <a class="sidebarListItem" href="./Images.html">Images</a>
          <a class="sidebarListItem" href="./inputs.html">Inputs</a>
          <a class="sidebarListItem selected" href="./lists.html">Lists</a>
          <a class="sidebarListItem" href="./Navigation.html">Navigation</a>
          <a class="sidebarListItem" href="./Avatars.html">Avatars</a>
        </div>
      </div>

      <!-- MAIN CONTENT CONTAINER -->

      <div class="contentCont">
        <h1 class="heading-l">Lists</h1>
        <p class="para-m mt4">Different types of Lists</p>
        <hr class="hr-light mt8" />

        <h4 class="heading-s mt10">Examples:</h4>

        <!-- ** List  ** -->

        <div class="exampleCont">
          <h3 class="exampleText">List with Icons</h3>
          <div class="flexCont">
            <!--List with Icons-->

            <ul class="list-cont">
              <li class="list-item">
                <ion-icon name="archive-sharp" class="list-icon"></ion-icon
                >Inbox
              </li>
              <li class="list-item">
                <ion-icon name="mail-open-sharp" class="list-icon"></ion-icon
                >Drafts
              </li>
              <li class="list-item">
                <ion-icon name="send-sharp" class="list-icon"></ion-icon>Sent
              </li>
              <li class="list-item">
                <ion-icon name="trash-sharp" class="list-icon"></ion-icon>Delete
              </li>
            </ul>

            <!--Icons on Right-->

            <ul class="list-cont">
              <li class="list-item flex-row-rev">
                <ion-icon name="archive-sharp" class="list-icon"></ion-icon
                >Inbox
              </li>
              <li class="list-item flex-row-rev">
                <ion-icon name="mail-open-sharp" class="list-icon"></ion-icon
                >Drafts
              </li>
              <li class="list-item flex-row-rev">
                <ion-icon name="send-sharp" class="list-icon"></ion-icon>Sent
              </li>
              <li class="list-item flex-row-rev">
                <ion-icon name="trash-sharp" class="list-icon"></ion-icon>Delete
              </li>
            </ul>
          </div>

          <h3 class="showCodeToggle" onclick="showCodeToggle()"></h3>

          <div class="code hideCode">
            <iframe
              src="https://carbon.now.sh/embed/IiVLybkTpC3sGAi4yVyd"
              style="
                width: 100%;
                height: 492px;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
        </div>

        <!-- ** Ordered List  ** -->

        <div class="exampleCont">
          <h3 class="exampleText">Ordered List</h3>
          <div class="flexCont flex-column">
            <!--Big Number List-->

            <ol class="xl-number-list">
              <li class="xl-number-list-item">Shirt</li>
              <li class="xl-number-list-item">Shoes</li>
              <li class="xl-number-list-item">Pants</li>
              <li class="xl-number-list-item">Watches</li>
            </ol>
          </div>
          <div class="flexCont">
            <!--Simple Number List-->

            <ol class="number-list">
              <li class="number-list-item">Shirt</li>
              <li class="number-list-item">Shoes</li>
              <li class="number-list-item">Pants</li>
              <li class="number-list-item">Watches</li>
            </ol>

            <!-- Arrow List -->

            <ol class="arrow-list">
              <li class="arrow-list-item">Shirt</li>
              <li class="arrow-list-item">Shoes</li>
              <li class="arrow-list-item">Pants</li>
              <li class="arrow-list-item">Watches</li>
            </ol>

            <!-- Diaamond List -->

            <ol class="diamond-list">
              <li class="diamond-list-item">Shirt</li>
              <li class="diamond-list-item">Shoes</li>
              <li class="diamond-list-item">Pants</li>
              <li class="diamond-list-item">Watches</li>
            </ol>
          </div>

          <h3 class="showCodeToggle" onclick="showCodeToggle()"></h3>

          <div class="code hideCode">
            <iframe
              src="https://carbon.now.sh/embed/cDBrL7aPqFs2mPIIjmUo"
              style="
                width: 100%;
                height: 739px;
                border: 0;
                transform: scale(1);
                overflow: hidden;
              "
              sandbox="allow-scripts allow-same-origin"
            >
            </iframe>
          </div>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <script src="./script.js"></script>
  </body>
</html>
