@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

:root {
  --fontBlack: rgb(24, 24, 24);
  --fontGray: rgb(97, 96, 96);
  --colRed: #db2b39;
  --colRed2: rgb(221, 52, 52);
  --colViolet: #b91372;
  --colBlue: #998fc7;
  --colWhite: #f1f1f1;
  --colSuccess: #ee8434;
  --colDanger: #d10000;
  --colAlert: #d17b0f;
  --colFail: #78bc61;
  --colLightGray: #dddddd;
  --colDarkGray: #333333;
  --font1: "Montserrat", sans-serif;
  --font2: "Open Sans", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ***************** UNIVERSAL CLASSES ********************** */

.primary {
  background: var(--colRed);
}
.secondry {
  background: var(--colViolet);
}
.disabled {
  background: var(--colBlue);
}
.success {
  background: var(--colSuccess);
}
.alert {
  background: var(--colAlert);
}
.danger {
  background: var(--colDanger);
}
.fail {
  background: var(--colFail);
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-column-rev {
  display: flex;
  flex-direction: column-reverse;
}
.flex-row-rev {
  display: flex;
  flex-direction: row-reverse;
}

.space-btw {
  justify-content: space-between;
}
.space-evenly {
  justify-content: space-evenly;
}
.space-around {
  justify-content: space-around;
}
.align-center {
  align-items: center;
}

/* ***************** TEXT STYLES ******************** */

.heading-l {
  font-family: var(--font2);
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--fontBlack);
}
.heading-m {
  font-family: var(--font2);
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--fontBlack);
}
.heading-s {
  font-family: var(--font2);
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--fontBlack);
}
.para-l {
  color: var(--fontBlack);
  font-size: 1.2rem;
}
.para-m {
  color: var(--fontBlack);
  font-size: 1rem;
}
.para-s {
  color: var(--fontBlack);
  font-size: 0.8rem;
}

/* ***************** SPACING STYLES ******************** */

/* **MARGIN TOP ****************** */

.mt4 {
  margin-top: 0.4rem;
}
.mt8 {
  margin-top: 0.8rem;
}
.mt10 {
  margin-top: 1rem;
}
.mt15 {
  margin-top: 1.5rem;
}

/* **MARGIN LEFT ******************** */

.ml4 {
  margin-left: 0.4rem;
}
.ml8 {
  margin-left: 0.8rem;
}
.ml10 {
  margin-left: 1rem;
}
.ml15 {
  margin-left: 1.5rem;
}

/* **MARGIN RIGHT ****************** */

.mr4 {
  margin-right: 0.4rem;
}
.mr8 {
  margin-right: 0.8rem;
}
.mr10 {
  margin-right: 1rem;
}
.mr15 {
  margin-right: 1.5rem;
}

/* **MARGIN BOTTOM **************** */

.mb4 {
  margin-bottom: 0.4rem;
}
.mb8 {
  margin-bottom: 0.8rem;
}
.mb10 {
  margin-bottom: 1rem;
}
.mb15 {
  margin-bottom: 1.5rem;
}

/* **PADDING TOP ****************** */

.pt4 {
  padding-top: 0.4rem;
}
.pt8 {
  padding-top: 0.8rem;
}
.pt10 {
  padding-top: 1rem;
}
.pt15 {
  padding-top: 1.5rem;
}

/* **PADDING LEFT ******************** */

.pl4 {
  padding-left: 0.4rem;
}
.pl8 {
  padding-left: 0.8rem;
}
.pl10 {
  padding-left: 1rem;
}
.pl15 {
  padding-left: 1.5rem;
}

/* **PADDING RIGHT ****************** */

.pr4 {
  padding-right: 0.4rem;
}
.pr8 {
  padding-right: 0.8rem;
}
.pr10 {
  padding-right: 1rem;
}
.pr15 {
  padding-right: 1.5rem;
}

/* **PADDING BOTTOM **************** */

.pb4 {
  padding-bottom: 0.4rem;
}
.pb8 {
  padding-bottom: 0.8rem;
}
.pb10 {
  padding-bottom: 1rem;
}
.pb15 {
  padding-bottom: 1.5rem;
}

/* ************ SEPRATOR COMPONENT ********************** */

.hr-dark {
  border: 0;
  height: 1px;
  background: rgba(71, 71, 71, 0.432);
  /* margin-top: 1rem; */
}
.hr-light {
  border: 0;
  height: 1px;
  background: rgba(196, 192, 192, 0.432);
}
.hr-gradient {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(221, 221, 221, 0),
    rgba(221, 221, 221, 0.75),
    rgba(221, 221, 221, 0)
  );
}

/* ************ BUTTON COMPONENT ********************** */
button {
  outline: none;
}
.primary-btn {
  background: var(--colRed);
  cursor: pointer;
}
.secondry-btn {
  background: var(--colViolet);
  cursor: pointer;
}
.disabled-btn {
  background: var(--colBlue);
  cursor: not-allowed;
}
.btn {
  border: none;
  width: 6rem;
  height: 1.9rem;
  color: var(--colWhite);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.btn-pill {
  border-radius: 50px;
}
.btn-rounded {
  border-radius: 12px;
}
.btn-square {
  border-radius: 2px;
}

.floating-btn {
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--colWhite);
  font-size: 1.1rem;
  cursor: pointer;
}
.floating-btn:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

/*********************** CARD COMPONETS ************************** */

/******* BADGE CARDS ******* */

.card {
  width: 18rem;
  /* height: 22rem; */
  border: 1px solid rgba(231, 231, 231, 0.596);
  box-shadow: 5px 5px 12px -4px #b5c1b4;
  padding: 20px;
  border-radius: 20px;
}
.card-badge {
  font-size: 4rem;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    153deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(236, 241, 247) 0%,
    rgb(245, 245, 245) 62%
  );
  border: 1px solid rgba(231, 231, 231, 0.596);
  box-shadow: 5px 5px 12px -4px #b5c1b4;
  border-radius: 50px;
  padding: 10px;
  width: 5rem;
  height: 5rem;
  margin: auto;
  margin-top: -3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--colFail);
}
.card-banner {
  text-align: center;
  font-size: 1.1rem;
  color: var(--colFail);
  margin-top: 0.8rem;
}
.badgeCard-image {
  display: block;
  width: 4.5rem;
  height: 4.5rem;
  object-fit: cover;
  border-radius: 50px;
  margin: auto;
  margin-top: 2rem;
}
.card-text-cont {
  margin-top: 1rem;
}
.card-title {
  font-size: 1rem;
  font-family: var(--font2);
  font-weight: 600;
}
.card-para {
  font-size: 0.7rem;
  margin-top: 0.5rem;
}
.card-btn {
  display: block;
  border: none;
  width: 8rem;
  height: 2rem;
  border-radius: 50px;
  background: var(--colFail);
  color: var(--colWhite);
  margin: auto;
  margin-top: 3rem;
  cursor: pointer;
}

/* ******* PRODUCT CARD  ********* */

.productCard-img {
  width: 100%;
  border-radius: 10px;
}
.star-rating-cont {
  display: flex;
  align-items: flex-end;
  color: var(--colFail);
}
.star-rating-text {
  font-size: 0.7rem;
  margin-left: 0.3rem;
  color: var(--fontGray);
}

/********* HORIZONTAL CARD *********/

.horizontal-card {
  width: 100%;
  height: 13rem;
  display: flex;
}

.horizontalCard-img {
  /* width: auto; */
  width: 30%;
  /* height: 100%; */
  border-radius: 10px;
}
.horizontalCard-text {
  margin-left: 2rem;
  width: 60%;
}
.horizontalCard-btn {
  display: block;
  /* float: left; */
  margin-top: 1.5rem;
}
.horizontalCard-btn::after {
  content: "";
  clear: both;
  /* display: table; */
}
/* ********************************* RESPONSIVE IMAGES ************************************ */

.responsiveImg-cont {
  position: relative;
  width: 40%;
  height: 0;
  padding: 40% 0 0;
  overflow: hidden;
}
.responsive-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.circleImg-cont {
  position: relative;
  width: 40%;
  height: 0;
  padding: 40% 0 0;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid gray;
}
.circle-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* *********** BLUR IMAGES ********** */

.blur-2 {
  filter: blur(0.8px);
}
.blur-4 {
  filter: blur(1.6px);
}
.blur-8 {
  filter: blur(8px);
}
.blur-10 {
  filter: blur(14px);
}

/* ***************************** USER INPUTS *************************** */
input {
  outline: none;
}
.disabled-input {
  cursor: not-allowed;
}
.input-cont {
  display: flex;
  align-items: center;
}
.simpleText-input {
  border: none;
  height: 1.6rem;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.158);
  -moz-box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.158);
  box-shadow: 0px 0px 4px 0px rgba(50, 50, 50, 0.158);
  padding-left: 5px;
}
.text-input {
  border: none;
  margin-left: 1rem;
  height: 1.6rem;
  border-radius: 20px;
  padding-left: 10px;
}
.textInput-label {
  font-size: 0.8rem;
}
.boxed-input-cont {
  background: var(--colAlert);
  border-radius: 20px;
  padding-left: 10px;
  color: var(--colWhite);
}

.boxed-input {
  border-radius: 0px 20px 20px 0px;
}

/* *** CHECKBOX INPUT *** */

.checkbox-label {
  font-size: 0.8rem;
  margin-left: 0.5rem;
}

/***** TOGGLE BUTTON ***/

.toggle-btn {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 30px;
  pointer-events: none;
}
.toggle-btn input {
  opacity: 0;
  width: 100%;
  height: 100%;
  pointer-events: all;
}
.toggle-slider-round {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: #808080;
  transition: 0.4s;
  pointer-events: none;
}
.toggle-slider-round::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  left: 6px;
  bottom: 6px;
  background-color: #fff;
  transition: 0.2s;
  pointer-events: none;
}
.toggle-slider-round::after {
  position: absolute;
  content: "off";
  height: 20px;
  width: 20px;
  right: 8px;
  bottom: 6px;
  transition: 0.2s;
  pointer-events: none;
  color: #fff;
}
input:checked + .toggle-slider-round {
  background-color: #2196f3;
}
input:checked + .toggle-slider-round:before {
  transform: translateX(40px);
}
input:checked + .toggle-slider-round:after {
  content: "on";
  left: 8px;
}
.toggle-slider-round {
  border-radius: 34px;
}

.toggle-slider-round:before {
  border-radius: 50%;
}

/* ***************************** LIST COMPONENT *************************** */

.list-cont {
  list-style: none;
  transition: 0.4s;
}
.list-icon {
  padding-right: 1rem;
  padding-left: 1rem;
}
.list-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  width: 10rem;
  height: 1.5rem;
  margin-top: 0.8rem;
  cursor: pointer;
  transition: 0.2s;
}
.list-item:hover {
  background: var(--colLightGray);
}

/* **** XL NUMBER LIST ***** */

.xl-number-list {
  list-style: none;
  counter-reset: counter;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.xl-number-list .xl-number-list-item {
  counter-increment: counter;
  display: flex;
  width: 50%;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}
.xl-number-list .xl-number-list-item::before {
  content: "0" counter(counter);
  font-weight: bold;
  font-size: 2rem;
  margin-right: 0.5rem;
  line-height: 1;
}

/* **** SIMPLE NUMBERD LIST **** */

.number-list {
  list-style: none;
  counter-reset: my-awesome-counter;
}
.number-list .number-list-item {
  counter-increment: my-awesome-counter;
}
.number-list .number-list-item::before {
  content: counter(my-awesome-counter) ". ";
  color: var(--fontGray);
  /* font-weight: bold; */
}

/* **** ARROW LIST ******* */

.arrow-list {
  list-style: none;
}
.arrow-list-item {
  margin-top: 0.3rem;
}
.arrow-list-item::before {
  content: "\1F882";
  font-size: 0.8rem;
  padding-right: 0.4rem;
  color: var(--colDarkGray);
}

/* **** Diamond LIST **** */

.diamond-list {
  list-style: none;
}
.diamond-list-item {
  margin-top: 0.3rem;
  display: flex;
  align-items: center;
}
.diamond-list-item::before {
  content: "\1F79C";
  font-size: 0.8rem;
  padding-right: 0.4rem;
  color: var(--colDarkGray);
}

/* ************************ NAVIGATION COMPONENT *************************** */

.vertical-nav {
  border: 1px solid rgb(245, 243, 243);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.15);
  -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.15);
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.15);
}
.nav-link {
  color: var(--fontBlack);
  display: flex;
  align-items: center;
}

/* BOTTOM NAVIGATIN *********** */

.bottom-nav-cont {
  -webkit-box-shadow: 1px 1px 12px 0px rgba(50, 50, 50, 0.175);
  -moz-box-shadow: 1px 1px 12px 0px rgba(50, 50, 50, 0.175);
  box-shadow: 1px 1px 12px 0px rgba(114, 73, 73, 0.175);
  border-radius: 30px;
  padding: 1px 3px 1px 3px;
}
.bottom-nav {
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 18rem;
}
.nav-item {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 1.2rem;
  color: var(--colLightGray);
  height: 2.5rem;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 50%;
}
.nav-item:hover {
  background: var(--colLightGray);
}

/* NAVBAR ************************** */

.navbar-cont {
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  -webkit-box-shadow: 1px 1px 12px 0px rgba(50, 50, 50, 0.175);
  -moz-box-shadow: 1px 1px 12px 0px rgba(50, 50, 50, 0.175);
  box-shadow: 1px 1px 12px 0px rgba(114, 73, 73, 0.175);
  border-radius: 30px;
  padding: 1px 3px 1px 3px;
}
.navbar-item {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 1rem;
  color: var(--colLightGray);
  height: 2.5rem;
  cursor: pointer;
  transition: 0.2s;
}
.nav-text {
  font-size: 0.6rem;
}
.navbar-items-cont {
  width: 40%;
  display: flex;
}

/* **************************** AVATAR COMPONENT **************************** */

.avatar-cont {
  -webkit-box-shadow: 1px 1px 12px 0px rgba(50, 50, 50, 0.13);
  -moz-box-shadow: 1px 1px 12px 0px rgba(50, 50, 50, 0.13);
  box-shadow: 1px 1px 12px 0px rgba(50, 50, 50, 0.13);
  border-radius: 50%;
  position: relative;
}
.avatar-img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.avatar-xs {
  width: 3rem;
  height: 3rem;
}
.avatar-s {
  width: 3.4rem;
  height: 3.4rem;
}
.avatar-m {
  width: 4rem;
  height: 4rem;
}
.avatar-l {
  width: 4.3rem;
  height: 4.3rem;
}
.avatar-xl {
  width: 5rem;
  height: 5rem;
}
.avatar-badge {
  position: absolute;
  bottom: 0;
  right: 0.1rem;
  border-radius: 50%;
}

/* ******************** BADGES COMPONENT ************************ */

.badge-online {
  color: var(--colSuccess);
}
.badge-offline {
  color: var(--fontGray);
}
.badge-dnd {
  color: var(--colDanger);
}
.badge-success {
  color: var(--colBlue);
}
